<% content_for :table_filter do %>
  <%= form_tag stocklog_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', @stockmovelog %>
    <%= text_field_tag 'search[date_to]', @stockmovelog %>
    <%= submit_tag 'Aplicar' %>
  <% end %>
<% end %>

<% if @stockmovelog.any? %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 5%;">
       <col style="width: 50%;">
       <col style="width: 15%;">
       <col style="width: 15%;">
    </colgroup>
    <tbody>
      <% @stockmovelog.each do |movement| %>
      <% @variants.each do |variant| %>
          <tr>
            <td><%= movement.updated_at %></td>
            <td class="align-center"><%= movement.quantity %></td>
            <% @variant_display_attributes.each do |display_attribute| %>
            <td class="align-right"><%= variant.send(display_attribute[:attr_name]) %></td>
            <% end %>
            <td class='variant-image' style="height: 34px;">
              <%= render 'spree/admin/shared/image',
                image: variant.gallery.images.first,
                size: :mini %>
            </td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <div class="no-objects-found">
      Sem resultados
    </div>
<% end %>
