<% content_for :table_filter do %>
<%= search_form_for [:admin, @search] do |f| %>
<div class="date-range-filter field">
  <%= label_tag :q_created_at_gt, t('spree.date_range') %>
  <div class="date-range-fields input-group">
    <%= f.text_field :created_at_gt, class: 'datepicker form-control datepicker-from', value: params[:q][:created_at_gt], placeholder: t('spree.start') %>

    <div class="input-group-prepend input-group-append">
      <span class="input-group-text range-divider">
        <i class="fa fa-arrow-right"></i>
      </span>
    </div>

    <%= f.text_field :created_at_lt, class: 'datepicker form-control datepicker-to', value: params[:q][:created_at_lt], placeholder: t('spree.stop') %>
  </div>
</div>
<% end %>

<% if @stockmovelog.any? %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 5%;">
       <col style="width: 50%;">
       <col style="width: 15%;">
       <col style="width: 15%;">
    </colgroup>
    <tbody>
      <% @stockmovelog.each do |movement| %>
      <% @variants.each do |variant| %>
          <tr>
            <td><%= movement.updated_at %></td>
            <td class="align-center"><%= movement.quantity %></td>
            <% @variant_display_attributes.each do |display_attribute| %>
            <td class="align-right"><%= variant.send(display_attribute[:attr_name]) %></td>
            <% end %>
            <td class='variant-image' style="height: 34px;">
              <%= render 'spree/admin/shared/image',
                image: variant.gallery.images.first,
                size: :mini %>
            </td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Product,
                  new_resource_url: new_object_url %>
  </div>
<% end %>
