<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.stock_movement_back'), admin_stock_items_url, class: 'btn btn-primary' %>
  </li>
<% end %>

  <% admin_breadcrumb(t('spree.stock_title_move')) %>

<% if @stockmovelog.any? %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 5%;">
       <col style="width: 50%;">
       <col style="width: 15%;">
       <col style="width: 15%;">
    </colgroup>
    <tbody>
      <% @stock_items.each do |movement| %>
          <tr>
          <% @variants.each do |variant| %>
            <td><%= movement.updated_at %></td>
            <td class="align-center"><%= movement.quantity %></td>
            <% @variant_display_attributes.each do |display_attribute| %>
            <td class="align-right"><%= variant.send(display_attribute[:attr_name]) %></td>
            <% end %>
            <td class='variant-image' style="height: 34px;">
              <%= render 'spree/admin/shared/image',
                image: variant.gallery.images.first,
                size: :mini %>
            </td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <div class="no-objects-found">
      Sem resultados
    </div>
<% end %>
